@charset "UTF-8";
@media (min-width: 768px) {
  body .oe_list_buttons button.need-search {
    margin-left: 150px;
    width: 120px;
  }
}
body div.needSearch {
  box-sizing: border-box;
  padding: 24px;
}
body div.needSearch button.btn {
  height: 34px;
  font-size: 14px;
  font-weight: bold;
}
